# Python Package Requirements File
# More info: http://pypi.python.org/pypi/pip

# From the PyPi repository
# Example: ``django``

django
django-debug-toolbar
django-extensions
django-smtp-ssl
djangorestframework
djangorestframework-csv
docutils
Fabric
gunicorn
psycopg2
pytest
pytest-django
raven
requests


# From version control repositories
# Example: ``-e git+URL#egg=NAME``
