{% extends "base.html" %}

{% block content %}

    <div class="container">

        <h2>Hoophouse</h2>
        <hr>

        <div class="row">

            <div class="col-md-2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>

            <div class="col-md-2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>

            <div class="col-md-2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>

            <div class="col-md-2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>

            <div class="col-md-2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>

            <div class="col-md-2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>

        </div>
    </div>

    <div class="container notifications">

        <h2>Notification Activity</h2>
        <hr>

        <div class="row">
            <div class="col-md-2 datetime">11/09/2015</div>
            <div class="col-md-8"><span class="bright">Basement Freezer is above 48°</span> an email has been sent to sarah@2894onmain.com</div>
            <div class="col-md-2 mute">12 hours 5 minutes ago</div>
        </div>


        <div class="row">
            <div class="col-md-2 datetime">11/09/2015</div>
            <div class="col-md-8"><span class="bright">Back Room Refridgerator is OFFLINE</span> an email has been sent to sarah@2894onmain.com</div>
            <div class="col-md-2 mute">12 hours 5 minutes ago</div>
        </div>

        <div class="row">
            <div class="col-md-2 datetime">11/09/2015</div>
            <div class="col-md-8"><span class="bright">Cafe Refridgerator 3 is below 33°</span> an email has been sent to sarah@2894onmain.com</div>
            <div class="col-md-2 mute">12 hours 5 minutes ago</div>
        </div>

        <div class="row">
            <div class="col-md-2 datetime">11/09/2015</div>
            <div class="col-md-8"><span class="bright">Hoophouse Pen 1 Sensor is above 81°</span> an email has been sent to sarah@2894onmain.com</div>
            <div class="col-md-2 mute">12 hours 5 minutes ago</div>
        </div>

        <div class="row">
            <div class="col-md-2 datetime">11/09/2015</div>
            <div class="col-md-8"><span class="bright">Cafe refridgerator 1 is above 52°</span> an email has been sent to sarah@2894onmain.com</div>
            <div class="col-md-2 mute">12 hours 5 minutes ago</div>
        </div>

    </div>

{% endblock content %}